<a href="https://colab.research.google.com/github/udilaudo/lezioni_galilei/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cos'è Pandas?

_pandas_ è una libreria Python per fare analisi dei dati.

Pandas introduce due strutture dati:
- **Series**: una lista di dati con un indice.
- **Data frame**: una tabella formata da diverse colonne (Series), ognuna con un nome.

Pandas è una libreria di programmazione in Python che rende più semplice lavorare con dati. Ti aiuta a organizzare informazioni, come nomi, età, canzoni, giocatori, in modo che tu possa analizzarle più facilmente.

Importiamo la libreria

In [ ]:
import pandas as pd

Definiamo una serie di dati su persone

In [ ]:
nome = [
    "Alessandro",
    "Beatrice",
    "Cristian",
    "Davide",
    "Elena",
    "Federico",
    "Giulia",
    "Luca",
    "Martina",
    "Nicola",
    "Roberta",
    "Stefano",
    "Valentina",
    "Andrea",
    "Chiara",
    "Emanuele",
    "Francesca",
    "Giovanni",
    "Laura",
    "Marco",
]

cognome = [
    "Rossi",
    "Bianchi",
    "Ferrari",
    "Russo",
    "Esposito",
    "Colombo",
    "Conti",
    "Marchetti",
    "De Luca",
    "Marino",
    "Greco",
    "Moretti",
    "Barbieri",
    "Fontana",
    "Ricci",
    "Mariani",
    "Rizzo",
    "De Santis",
    "Ferrara",
    "Bruno",
]

altezza = [
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
]

eta = [19, 17, 14, 15, 18, 14, 14, 19, 18, 18, 17, 15, 16, 15, 16, 16, 14, 14, 19, 19]

capelli = [
    "castani",
    "neri",
    "castani",
    "neri",
    "rossi",
    "neri",
    "neri",
    "castani",
    "rossi",
    "neri",
    "castani",
    "biondi",
    "neri",
    "biondi",
    "castani",
    "biondi",
    "castani",
    "castani",
    "rossi",
    "neri",
]

media_voti = [
    8.09,
    6.49,
    8.96,
    7.71,
    7.95,
    6.98,
    6.78,
    8.82,
    7.37,
    6.23,
    6.93,
    6.56,
    9.89,
    6.48,
    9.04,
    7.61,
    8.73,
    6.43,
    9.87,
    7.41,
]

Crea il DataFrame (la tabella dei dati)

In [ ]:
dati = pd.DataFrame(
    {
        "nome": nome,
        "cognome": cognome,
        "altezza": altezza,
        "capelli": capelli,
        "eta": eta,
        "media_voti": media_voti,
    }
)

### Il nostro DataFrame:

In [ ]:
dati

Guarda i nomi delle colonne:

In [ ]:
dati.columns

## Puoi vedere solo la parte iniziale del DataFrame

In [ ]:
dati.head()

### Pandas può aiutarti a guardare, ordinare e giocare con i tuoi dati. Ti permette di vedere e capire meglio le informazioni.

Puoi chiedere a Pandas di mostrarti solo alcune informazioni:

In [ ]:
dati[["nome"]]

In [ ]:
dati[["altezza"]]

In [ ]:
dati[["altezza", "capelli"]]

Scrivi un codice per mostrare solamente il "nome", "cognome" e la "media voti"

In [ ]:
# scrivi qui giu' il codice per risolvere l'esercizio 1

### Manipoliamo questa tabella

Vediamo la riga di "Andrea"

In [ ]:
dati[dati["nome"] == "Andrea"]

Chi ha i capelli rossi?

In [ ]:
dati[dati["capelli"] == "rossi"]

Chi è maggiorenne?

In [ ]:
dati[dati["eta"] >= 18]

Scrivi un codice per scoprire chi ha la media superiore a 8.5

In [ ]:
# Scrivi qui il codice per risolvere l'esercizio 2

Selezioniamo una riga dalla sua posizione

Selezioniamo la prima riga

In [ ]:
dati.loc[0]

In [ ]:
dati.loc[0, ["eta"]]

Seleziniamo le righe dalla quarta alla sesta

In [ ]:
dati.loc[3:5]

Scrivi un codice per vedere quanto è alto il settimo ragazzo del dataframe

In [ ]:
# Scrivi qui il codice per risolvere l'esercizio 3

### Proviamo a trovarci qualche statistica (media, moda...)

In [ ]:
dati["media_voti"].mean()

In [ ]:
dati["media_voti"].median()

In [ ]:
dati["media_voti"].min()

In [ ]:
dati["eta"].mean()

In [ ]:
dati["eta"].median()

In [ ]:
dati["eta"].max()

### Scrivi un codice per mostrare l'altezza media e l'altezza massima

In [ ]:
# Scrivi qui il codice per risolvere l'esercizio 3

### Proviamo a fare la media dei nomi. Ha senso?

In [ ]:
dati["nome"].mean()

### Tutte queste informazioni possiamo trovarle tutte usando la funzione "describe()"

In [ ]:
dati.describe()

### Proviamo a modificare la nostra tabella

Proviamo a rinominare una colonna:

In [ ]:
dati = dati.rename(columns={"capelli": "colore capelli"})

In [ ]:
dati

Aggiungiamo una colonna per il colore degli occhi

In [ ]:
dati["occhi"] = [
    "neri",
    "azzurri",
    "marroni",
    "azzurri",
    "marroni",
    "marroni",
    "verdi",
    "marroni",
    "marroni",
    "marroni",
    "verdi",
    "neri",
    "neri",
    "verdi",
    "verdi",
    "neri",
    "azzurri",
    "verdi",
    "marroni",
    "neri",
]

Controlliamo se è stata inserita

In [ ]:
dati.head()

Eliminiamo la colonna dei capelli

In [ ]:
dati.drop(columns=["capelli"], inplace=True)dati.head()

In [ ]:
dati.drop(columns=["colore capelli"], inplace=True)

Verifichiamo

In [ ]:
dati.head()

## Modifichiamo qualche valore

In [ ]:
dati

Cambiamo il valore dell'età del primo ragazzo

In [ ]:
dati["eta"][0] = 20

Controlliamo che lo abbia cambiato

In [ ]:
dati

Modifichiamo tutta la colonna

In [ ]:
dati["eta"] = dati["eta"] * 2

In [ ]:
dati

Prova a modificare la colonna dell'età in modo da farla tornare come era all'inizio

In [ ]:
# Scrivi qui sotto il codice per risolvere l'esercizio 4

Cambia il cognome di Alessando Rossi in "Silvestri"

In [ ]:
# Scrivi qui sotto il codice per risolvere l'esercizio 5

## Possiamo fare qualche grafico!

Importiamo la libreria per i grafici

In [ ]:
from matplotlib import pyplot as plt

### Facciamo un grafico a barre per vedere quali sono i voti dei ragazzi nella scuola

Si usa la funzione plt.bar() che prende due argomenti. Il primo indica la lista dei nomi di cui vogliamo informazioni, la seconda la quantità di ciascuno (in questo caso il voto)

In [ ]:
plt.figure(figsize=(20, 10))
plt.bar(dati["nome"], dati["media_voti"])

### Aggiungiamo i nomi degli assi e il titoli

In [ ]:
plt.figure(figsize=(20, 10))
plt.bar(dati["nome"], dati["media_voti"])
plt.title("Voti nella scuola")
plt.xlabel("Nome")
plt.ylabel("Media voti")

### Facciamo anche un istogramma. Riesci a capire la differenza?

In [ ]:
plt.figure(figsize=(8, 6))
plt.hist(dati["media_voti"], bins=10)
plt.title("Voti nella scuola")
plt.xlabel("Voti")
plt.ylabel("Numero di studenti")

### Prova a fare un grafico a barre e un istogramma dell'altezza delle persone

In [ ]:
# Scrivi qui sotto il codice per il diagramma

In [ ]:
# Scrivi qui sotto il codice per l'istogramma