# Cos'è Pandas?

_pandas_ è una libreria Python per fare analisi dei dati.

Pandas introduce due strutture dati:
- **Series**: una lista di dati con un indice.
- **Data frame**: una tabella formata da diverse colonne (Series), ognuna con un nome.

Pandas è una libreria di programmazione in Python che rende più semplice lavorare con dati. Ti aiuta a organizzare informazioni, come nomi, età, canzoni, giocatori, in modo che tu possa analizzarle più facilmente.

Importiamo la libreria

In [1]:
import pandas as pd

Definiamo una serie di dati su persone

In [2]:
nome = [
    "Alessandro",
    "Beatrice",
    "Cristian",
    "Davide",
    "Elena",
    "Federico",
    "Giulia",
    "Luca",
    "Martina",
    "Nicola",
    "Roberta",
    "Stefano",
    "Valentina",
    "Andrea",
    "Chiara",
    "Emanuele",
    "Francesca",
    "Giovanni",
    "Laura",
    "Marco",
]

cognome = [
    "Rossi",
    "Bianchi",
    "Ferrari",
    "Russo",
    "Esposito",
    "Colombo",
    "Conti",
    "Marchetti",
    "De Luca",
    "Marino",
    "Greco",
    "Moretti",
    "Barbieri",
    "Fontana",
    "Ricci",
    "Mariani",
    "Rizzo",
    "De Santis",
    "Ferrara",
    "Bruno",
]

altezza = [
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
    1.82,
    1.65,
    1.75,
    1.78,
    1.65,
]

eta = [19, 17, 14, 15, 18, 14, 14, 19, 18, 18, 17, 15, 16, 15, 16, 16, 14, 14, 19, 19]

capelli = [
    "castani",
    "neri",
    "castani",
    "neri",
    "rossi",
    "neri",
    "neri",
    "castani",
    "rossi",
    "neri",
    "castani",
    "biondi",
    "neri",
    "biondi",
    "castani",
    "biondi",
    "castani",
    "castani",
    "rossi",
    "neri",
]

media_voti = [
    8.09,
    6.49,
    8.96,
    7.71,
    7.95,
    6.98,
    6.78,
    8.82,
    7.37,
    6.23,
    6.93,
    6.56,
    9.89,
    6.48,
    9.04,
    7.61,
    8.73,
    6.43,
    9.87,
    7.41,
]

Crea il DataFrame (la tabella dei dati)

In [3]:
df = pd.DataFrame(
    {
        "nome": nome,
        "cognome": cognome,
        "altezza": altezza,
        "capelli": capelli,
        "eta": eta,
        "media_voti": media_voti,
    }
)

### Il nostro DataFrame:

In [4]:
df

          nome    cognome  altezza  capelli  eta  media_voti
0   Alessandro      Rossi     1.82  castani   19        8.09
1     Beatrice    Bianchi     1.65     neri   17        6.49
2     Cristian    Ferrari     1.75  castani   14        8.96
3       Davide      Russo     1.78     neri   15        7.71
4        Elena   Esposito     1.65    rossi   18        7.95
5     Federico    Colombo     1.82     neri   14        6.98
6       Giulia      Conti     1.65     neri   14        6.78
7         Luca  Marchetti     1.75  castani   19        8.82
8      Martina    De Luca     1.78    rossi   18        7.37
9       Nicola     Marino     1.65     neri   18        6.23
10     Roberta      Greco     1.82  castani   17        6.93
11     Stefano    Moretti     1.65   biondi   15        6.56
12   Valentina   Barbieri     1.75     neri   16        9.89
13      Andrea    Fontana     1.78   biondi   15        6.48
14      Chiara      Ricci     1.65  castani   16        9.04
15    Emanuele    Mariani     1.82   biondi   16        7.61
16   Francesca      Rizzo     1.65  castani   14        8.73
17    Giovanni  De Santis     1.75  castani   14        6.43
18       Laura    Ferrara     1.78    rossi   19        9.87
19       Marco      Bruno     1.65     neri   19        7.41

## Puoi vedere solo la parte iniziale del DataFrame

In [5]:
df.head()

         nome   cognome  altezza  capelli  eta  media_voti
0  Alessandro     Rossi     1.82  castani   19        8.09
1    Beatrice   Bianchi     1.65     neri   17        6.49
2    Cristian   Ferrari     1.75  castani   14        8.96
3      Davide     Russo     1.78     neri   15        7.71
4       Elena  Esposito     1.65    rossi   18        7.95

### Pandas può aiutarti a guardare, ordinare e giocare con i tuoi dati. Ti permette di vedere e capire meglio le informazioni.

Puoi chiedere a Pandas di mostrarti solo alcune informazioni:

In [6]:
df[["nome"]]

          nome
0   Alessandro
1     Beatrice
2     Cristian
3       Davide
4        Elena
5     Federico
6       Giulia
7         Luca
8      Martina
9       Nicola
10     Roberta
11     Stefano
12   Valentina
13      Andrea
14      Chiara
15    Emanuele
16   Francesca
17    Giovanni
18       Laura
19       Marco

In [7]:
df[["altezza"]]

    altezza
0      1.82
1      1.65
2      1.75
3      1.78
4      1.65
5      1.82
6      1.65
7      1.75
8      1.78
9      1.65
10     1.82
11     1.65
12     1.75
13     1.78
14     1.65
15     1.82
16     1.65
17     1.75
18     1.78
19     1.65

In [8]:
df[["altezza", "capelli"]]

    altezza  capelli
0      1.82  castani
1      1.65     neri
2      1.75  castani
3      1.78     neri
4      1.65    rossi
5      1.82     neri
6      1.65     neri
7      1.75  castani
8      1.78    rossi
9      1.65     neri
10     1.82  castani
11     1.65   biondi
12     1.75     neri
13     1.78   biondi
14     1.65  castani
15     1.82   biondi
16     1.65  castani
17     1.75  castani
18     1.78    rossi
19     1.65     neri

Scrivi un codice per mostrare solamente il "nome", "cognome" e la "media voti"

In [9]:
# scrivi qui giu' il codice per risolvere l'esercizio 1

### Manipoliamo questa tabella

Vediamo la riga di "Andrea"

In [10]:
df[df["nome"] == "Andrea"]

      nome  cognome  altezza capelli  eta  media_voti
13  Andrea  Fontana     1.78  biondi   15        6.48

In [11]:
df[df["capelli"] == "rossi"]

       nome   cognome  altezza capelli  eta  media_voti
4     Elena  Esposito     1.65   rossi   18        7.95
8   Martina   De Luca     1.78   rossi   18        7.37
18    Laura   Ferrara     1.78   rossi   19        9.87

In [12]:
df[df["eta"] > 18]

          nome    cognome  altezza  capelli  eta  media_voti
0   Alessandro      Rossi     1.82  castani   19        8.09
7         Luca  Marchetti     1.75  castani   19        8.82
18       Laura    Ferrara     1.78    rossi   19        9.87
19       Marco      Bruno     1.65     neri   19        7.41

Scrivi un codice per scoprire chi ha la media superiore a 8.5

In [32]:
# Scrivi qui il codice per risolvere l'esercizio 2

Selezioniamo una riga dalla sua posizione

Selezioniamo la prima riga

In [29]:
df.loc[0]

nome          Alessandro
cognome            Rossi
altezza             1.82
capelli          castani
eta                   19
media_voti          8.09
Name: 0, dtype: object

In [30]:
df.loc[0, ["eta"]]

eta    19
Name: 0, dtype: object

Seleziniamo le righe dalla quarta alla sesta

In [31]:
df.loc[3:5]

       nome   cognome  altezza capelli  eta  media_voti
3    Davide     Russo     1.78    neri   15        7.71
4     Elena  Esposito     1.65   rossi   18        7.95
5  Federico   Colombo     1.82    neri   14        6.98

Scrivi un codice per vedere quanto è alto il settimo ragazzo del dataframe

In [33]:
# Scrivi qui il codice per risolvere l'esercizio 3

### Proviamo a trovarci qualche statistica (media, moda...)

In [14]:
df["media_voti"].mean()

7.716500000000001

In [15]:
df["media_voti"].median()

7.51

In [16]:
df["media_voti"].min()

6.23

In [17]:
df["eta"].mean()

16.35

In [19]:
df["eta"].median()

16.0

In [20]:
df["eta"].max()

19

### Scrivi un codice per mostrare l'altezza media e l'altezza massima

In [21]:
# Scrivi qui il codice per risolvere l'esercizio 3

### Proviamo a fare la media dei nomi. Ha senso?

In [ ]:
df["nome"].mean()

### Tutte queste informazioni possiamo trovarle tutte usando la funzione "describe()"

In [22]:
df.describe()

         altezza        eta  media_voti
count  20.000000  20.000000   20.000000
mean    1.730000  16.350000    7.716500
std     0.070785   1.926956    1.160704
min     1.650000  14.000000    6.230000
25%     1.650000  14.750000    6.725000
50%     1.750000  16.000000    7.510000
75%     1.780000  18.000000    8.752500
max     1.820000  19.000000    9.890000

### Proviamo a modificare la nostra tabella

Aggiungiamo una colonna per il colore degli occhi

In [23]:
df["occhi"] = [
    "neri",
    "azzurri",
    "marroni",
    "azzurri",
    "marroni",
    "marroni",
    "verdi",
    "marroni",
    "marroni",
    "marroni",
    "verdi",
    "neri",
    "neri",
    "verdi",
    "verdi",
    "neri",
    "azzurri",
    "verdi",
    "marroni",
    "neri",
]

Controlliamo se è stata inserita

In [24]:
df.head()

         nome   cognome  altezza  capelli  eta  media_voti    occhi
0  Alessandro     Rossi     1.82  castani   19        8.09     neri
1    Beatrice   Bianchi     1.65     neri   17        6.49  azzurri
2    Cristian   Ferrari     1.75  castani   14        8.96  marroni
3      Davide     Russo     1.78     neri   15        7.71  azzurri
4       Elena  Esposito     1.65    rossi   18        7.95  marroni

Eliminiamo la colonna dei capelli

In [25]:
df.drop("capelli", axis=1, inplace=True)
df.head()

         nome   cognome  altezza  eta  media_voti    occhi
0  Alessandro     Rossi     1.82   19        8.09     neri
1    Beatrice   Bianchi     1.65   17        6.49  azzurri
2    Cristian   Ferrari     1.75   14        8.96  marroni
3      Davide     Russo     1.78   15        7.71  azzurri
4       Elena  Esposito     1.65   18        7.95  marroni

## Modifichiamo qualche valore

In [26]:
df

          nome    cognome  altezza  eta  media_voti    occhi
0   Alessandro      Rossi     1.82   19        8.09     neri
1     Beatrice    Bianchi     1.65   17        6.49  azzurri
2     Cristian    Ferrari     1.75   14        8.96  marroni
3       Davide      Russo     1.78   15        7.71  azzurri
4        Elena   Esposito     1.65   18        7.95  marroni
5     Federico    Colombo     1.82   14        6.98  marroni
6       Giulia      Conti     1.65   14        6.78    verdi
7         Luca  Marchetti     1.75   19        8.82  marroni
8      Martina    De Luca     1.78   18        7.37  marroni
9       Nicola     Marino     1.65   18        6.23  marroni
10     Roberta      Greco     1.82   17        6.93    verdi
11     Stefano    Moretti     1.65   15        6.56     neri
12   Valentina   Barbieri     1.75   16        9.89     neri
13      Andrea    Fontana     1.78   15        6.48    verdi
14      Chiara      Ricci     1.65   16        9.04    verdi
15    Emanuele    Mariani     1.82   16        7.61     neri
16   Francesca      Rizzo     1.65   14        8.73  azzurri
17    Giovanni  De Santis     1.75   14        6.43    verdi
18       Laura    Ferrara     1.78   19        9.87  marroni
19       Marco      Bruno     1.65   19        7.41     neri

Cambiamo il valore dell'età del primo ragazzo

In [28]:
df["eta"][0] = 20

/tmp/ipykernel_22607/532546328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["eta"][0] = 20

Controlliamo che lo abbia cambiato

In [31]:
df

          nome    cognome  altezza  eta  media_voti    occhi
0   Alessandro      Rossi     1.82   40        8.09     neri
1     Beatrice    Bianchi     1.65   34        6.49  azzurri
2     Cristian    Ferrari     1.75   28        8.96  marroni
3       Davide      Russo     1.78   30        7.71  azzurri
4        Elena   Esposito     1.65   36        7.95  marroni
5     Federico    Colombo     1.82   28        6.98  marroni
6       Giulia      Conti     1.65   28        6.78    verdi
7         Luca  Marchetti     1.75   38        8.82  marroni
8      Martina    De Luca     1.78   36        7.37  marroni
9       Nicola     Marino     1.65   36        6.23  marroni
10     Roberta      Greco     1.82   34        6.93    verdi
11     Stefano    Moretti     1.65   30        6.56     neri
12   Valentina   Barbieri     1.75   32        9.89     neri
13      Andrea    Fontana     1.78   30        6.48    verdi
14      Chiara      Ricci     1.65   32        9.04    verdi
15    Emanuele    Mariani     1.82   32        7.61     neri
16   Francesca      Rizzo     1.65   28        8.73  azzurri
17    Giovanni  De Santis     1.75   28        6.43    verdi
18       Laura    Ferrara     1.78   38        9.87  marroni
19       Marco      Bruno     1.65   38        7.41     neri

Modifichiamo tutta la colonna

In [32]:
df["eta"] = df["eta"] * 2

In [33]:
df

          nome    cognome  altezza  eta  media_voti    occhi
0   Alessandro      Rossi     1.82   80        8.09     neri
1     Beatrice    Bianchi     1.65   68        6.49  azzurri
2     Cristian    Ferrari     1.75   56        8.96  marroni
3       Davide      Russo     1.78   60        7.71  azzurri
4        Elena   Esposito     1.65   72        7.95  marroni
5     Federico    Colombo     1.82   56        6.98  marroni
6       Giulia      Conti     1.65   56        6.78    verdi
7         Luca  Marchetti     1.75   76        8.82  marroni
8      Martina    De Luca     1.78   72        7.37  marroni
9       Nicola     Marino     1.65   72        6.23  marroni
10     Roberta      Greco     1.82   68        6.93    verdi
11     Stefano    Moretti     1.65   60        6.56     neri
12   Valentina   Barbieri     1.75   64        9.89     neri
13      Andrea    Fontana     1.78   60        6.48    verdi
14      Chiara      Ricci     1.65   64        9.04    verdi
15    Emanuele    Mariani     1.82   64        7.61     neri
16   Francesca      Rizzo     1.65   56        8.73  azzurri
17    Giovanni  De Santis     1.75   56        6.43    verdi
18       Laura    Ferrara     1.78   76        9.87  marroni
19       Marco      Bruno     1.65   76        7.41     neri

Prova a modificare la colonna dell'età in modo da farla tornare come era all'inizio

In [ ]:
# Scrivi qui sotto il codice per risolvere l'esercizio 4

Cambia il cognome di Alessando Rossi in "Silvestri"

In [ ]:
# Scrivi qui sotto il codice per risolvere l'esercizio 5

## Possiamo fare qualche grafico!

Importiamo la libreria per i grafici

In [ ]:
from matplotlib import pyplot as plt

### Facciamo un grafico a barre per vedere quali sono i voti dei ragazzi nella scuola

Si usa la funzione plt.bar() che prende due argomenti. Il primo indica la lista dei nomi di cui vogliamo informazioni, la seconda la quantità di ciascuno (in questo caso il voto)

In [ ]:
from matplotlib import pyplot as plt

plt.figure(figsize=(20, 10))
plt.bar(df["nome"], df["media_voti"])

### Aggiungiamo i nomi degli assi e il titoli

In [ ]:
plt.figure(figsize=(20, 10))
plt.bar(df["nome"], df["media_voti"])
plt.title("Voti nella scuola")
plt.xlabel("Nome")
plt.ylabel("Media voti")

### Facciamo anche un istogramma. Riesci a capire la differenza?

In [ ]:
plt.figure(figsize=(8, 6))
plt.hist(df["media_voti"], bins=10)
plt.title("Voti nella scuola")
plt.xlabel("Voti")
plt.ylabel("Numero di studenti")

### Prova a fare un grafico a barre e un istogramma dell'altezza delle persone

In [ ]:
# Scrivi qui sotto il codice per il diagramma

In [ ]:
# Scrivi qui sotto il codice per l'istogramma